*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: red;
    margin: 0;
    margin-left: 40px;
    min-height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white  {
    width: 50px;
    height: 250px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: yellow;
}

.black {
    --width: 30px;
    height: 120px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: grey;
}